@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

html {
}

body {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(16, 22, 38, 1);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0 solid;
}

header {
  
}

/*------ Celebration Modal  ------*/

#celebration-modal {
  border: none;
  background: rgba(16, 22, 38, 0.9);
  border-radius: 16px;
  color: white;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

#celebration-modal::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.45);
}

/* TO DO: differentiate from regular click focus */
:focus {
  outline: 3px solid rgba(110,157,231,1);
  outline-offset: 2px;
}