body{
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(16, 22, 38, 1);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0 solid;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}

.nav-links li {
  list-style: none;
}

/*------ Start page  ------*/

.intro-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}